body{
    background-color: #525252;
}
.centered-form{
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 10%;

}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.form-group{
	margin-left: 35%;
	
}
.btn-info{
	margin-top: 20px;
	margin-left: 220px;
	margin-bottom: 20px;
}